html {
	margin: 0;
	padding: 0;
	}
body {
background-image: -webkit-gradient(radial, center center, 0, center center, 435, color-stop(0, #FFFFFF), color-stop(1, #66ADCC));
}
h1 { color: #111; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 60px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h2 { color: #111; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h3 { color: #111; font-family: "Open Sans", Helvetica,sans-serif; font-size: 25px; font-weight: 300; line-height: 30px; margin: 0 0 72px; text-align: center; }
p { color: #5C25B3; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 25px; font-weight: 200; line-height: 25px; margin: 0 0 24px; text-align: left; text-justify: inter-word; }
